body {
    font-family: Arial, sans-serif;
  }
  #loader {
    display: none;
    text-align: center;
    margin-top: 20px;
  }
  #gallery {
    column-count: 4;
    column-gap: 10px;
  }
  .image-item {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }
  .image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5rem;
  }
  span.desc{
    position: absolute;
    background-color: white;
    color: black;
    display: none;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .image-item:hover .desc{
    display: inline-block;
  }